<section class="c-light-bg background-image sectionspacing-small" style="background-image: url()">
    <h3 class="center">Some of our friends</h2>
    <div class="column__wrapper logowall">

        <div class="column column--3-5">
            <img
                class="logowall__medium"
                src="{{site.baseurl}}/assets/logowall/castellum-logo.svg"
                alt="Castellum"
                width="2698" height="2380"
            >
        </div>

        <div class="column column--3-5">
            <img
                src="{{site.baseurl}}/assets/logowall/hubins-logo.svg"
                alt="Hubins"
                width="1625.3" height="306.5"
            >
        </div>
        
        <div class="column column--3-5">
            <img
                src="{{site.baseurl}}/assets/logowall/mat-se-logo.svg"
                alt="Mat.se"
                width="428.66" height="102.91"
            >
        </div>

        <div class="column column--3-5">
            <img 
                class="logowall__small"
                src="{{site.baseurl}}/assets/logowall/qgroup-logo.svg"
                alt="Qgroup"
                width="145.9" height="227.8"
            >
        </div>

        <div class="column column--3-5">
            <img 
                src="{{site.baseurl}}/assets/logowall/craft-logo.svg"
                alt="Craft"
                width="320.5" height="60.8"
            >
        </div>


        <div class="column column--3-5">
            <img 
                class="logowall__medium"
                src="{{site.baseurl}}/assets/logowall/hemfrid.svg"
                alt="Hemfrid"
                width="181.32" height="176.31"
            >
        </div>

        <div class="column column--3-5">
            <img 
                src="{{site.baseurl}}/assets/logowall/swedbank.svg"
                alt="Swedbank"
                width="898.9" height="136.74"
            >
        </div>

        <div class="column column--3-5">
            <img 
                src="{{site.baseurl}}/assets/logowall/koenigsegg-logo.svg"
                alt="Koenigsegg"
                width="137.5" height="34.6"
            >
        </div>

        <div class="column column--3-5">
            <img 
                class="logowall__small"
                src="{{site.baseurl}}/assets/logowall/brooklyn.svg"
                alt="Brooklyn Brewery"
                width="271.51" height="299.39"
            >
        </div>

        <div class="column column--3-5">
            <img 
                class="logowall__medium"
                src="{{site.baseurl}}/assets/logowall/semren-mansson-logo.svg"
                alt="Semrén & Månsson"
                width="400" height="153.7"
            >
        </div>


        <div class="column column--3-5">
            <img 
                class="logowall__medium"
                src="{{site.baseurl}}/assets/logowall/anicura-logo.svg"
                alt="Anicura"
                width="566.9" height="467.7"
            >
        </div>
        
        <div class="column column--3-5">
            <img 
                class="logowall__medium"
                src="{{site.baseurl}}/assets/logowall/volvo-logo.svg"
                alt="Volvo"
                width="720" height="720"
            >
        </div>

        <div class="column column--3-5">
            <img 
                src="{{site.baseurl}}/assets/logowall/bauer-logo.svg"
                alt="Bauer"
                width="195.1" height="62.9"
            >
        </div>

        <div class="column column--3-5">
            <img 
                src="{{site.baseurl}}/assets/logowall/winningtemp.svg"
                alt="Winningtemp"
                width="491.59" height="120.31"
            >
        </div>

        <div class="column column--3-5">
            <img 
                src="{{site.baseurl}}/assets/logowall/pinchos.svg"
                alt="Pinchos"
                width="646.9" height="154.07"
            >
        </div>

        <div class="column column--3-5">
            <img 
                class="logowall__medium"
                src="{{site.baseurl}}/assets/logowall/weibulls.svg"
                alt="Weibulls"
                width="285.49" height="74.63"
            >
        </div>

        <div class="column column--3-5">
            <img 
                class="logowall__small"
                src="{{site.baseurl}}/assets/logowall/ica-logo.svg"
                alt="ICA"
                width="119" height="61"
            >
        </div>

        <div class="column column--3-5">
            <img
                class="logowall__medium"
                src="{{site.baseurl}}/assets/logowall/stenaline-logo.svg"
                alt="StenaLine"
                width="269.3" height="96.2"
            >
        </div>

        <div class="column column--3-5">
            <img
                class="logowall__medium"
                src="{{site.baseurl}}/assets/logowall/allthingslive.svg"
                alt="All Things Live"
                width="1560.03" height="162.84"
            >
        </div>

        <div class="column column--3-5">
            <img
                src="{{site.baseurl}}/assets/logowall/barnangen.svg"
                alt="Barnängen"
                width="201.08" height="81.99"
            >
        </div>
    </div>
</section>


