<section class="c-light-bg background-image sectionspacing-small" style="background-image: url()">
    <h3 class="center">Some of our friends</h2>
    <div class="column__wrapper logowall">

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/castellum-logo.svg" alt="Castellum">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/hubins-logo.svg" alt="Hubins">
        </div>
        
        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/mat-se-logo.svg" alt="Mat.se">
        </div>

        <div class="column column--2-5">
            <img class="logowall__small" src="{{site.baseurl}}/assets/logowall/qgroup-logo.svg" alt="Qgroup">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/craft-logo.svg" alt="Craft">
        </div>


        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/hemfrid.svg" alt="Hemfrid">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/swedbank.svg" alt="Swedbank">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/koenigsegg-logo.svg" alt="Koenigsegg">
        </div>

        <div class="column column--2-5">
            <img class="logowall__small" src="{{site.baseurl}}/assets/logowall/brooklyn.svg" alt="Brooklyn Brewery">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/semren-mansson-logo.svg" alt="Semrén & Månsson">
        </div>


        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/anicura-logo.svg" alt="Anicura">
        </div>
        
        <div class="column column--2-5">
            <img class="logowall__medium" src="{{site.baseurl}}/assets/logowall/volvo-logo.svg" alt="Volvo">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/bauer-logo.svg" alt="Bauer">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/winningtemp.svg" alt="Winningtemp">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/pinchos.svg" alt="Pinchos">
        </div>

        <div class="column column--2-5">
            <img class="logowall__medium" src="{{site.baseurl}}/assets/logowall/weibulls.svg" alt="Weibulls">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/ica-logo.svg" alt="ICA">
        </div>

        <div class="column column--2-5">
            <img class="logowall__medium" src="{{site.baseurl}}/assets/logowall/stenaline-logo.svg" alt="StenaLine">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/allthingslive.svg" alt="All Things Live">
        </div>

        <div class="column column--2-5">
            <img src="{{site.baseurl}}/assets/logowall/barnangen.svg" alt="Barnängen">
        </div>
    </div>
</section>


