---
layout: case
---

{% unless page.quote1_title == nil %}
<div class="grid grid--padding section sectionspacing-custom aligncenter">
  <div class="grid__column1-2">
    {{ page.quote1_title | markdownify }}
  </div>
  <div class="grid__column2-2 box box--work">
    {{ page.quote1_box | markdownify }}
  </div>
</div>
{% endunless %}

{% unless page.introtext == nil %}
  <div class="section sectionspacing">
    {{ page.introtext | markdownify }}
  </div>
{% endunless %}

{% unless page.images == nil %}
{% for image in page.images %}
<div class="s">
  <img alt="{{image.image_alt}}" width="1440" height="810"
    src="{{site.baseurl}}/assets/work/{{page.slug}}/{{ image.image_1440 }}" srcset="{{site.baseurl}}/assets/work/{{page.slug}}/{{ image.image_1920 }} 1920w,
            {{site.baseurl}}/assets/work/{{page.slug}}/{{ image.image_1440 }} 1400w,
            {{site.baseurl}}/assets/work/{{page.slug}}/{{ image.image_640 }} 640w" sizes="100vw">
</div>
{{ image.text | markdownify }}
{% endfor %}
{% endunless %}

{% unless page.box == nil %}
<div class="section sectionspacing box box--center">
  {{ page.box | markdownify }}
</div>
{% endunless %}





<div class="grid grid--space grid--padding">
    <div class="grid__column1-2">
        <img class="image"
            alt="{{page.contact_image_alt}}"
            width="1440" height="1653"
            src="{{site.baseurl}}/assets/work/{{page.slug}}/{{ page.contact_image_720 }}"
            srcset="{{site.baseurl}}/assets/work/{{page.slug}}/{{ page.contact_image_1440 }} 1440w,
                    {{site.baseurl}}/assets/work/{{page.slug}}/{{ page.contact_image_720 }} 720w"
           sizes="(min-width: 580px) 50vw,
                   100vw">
    </div>
    <div class="grid__column2-2 flexcenter">
      {{ page.contact | markdownify }}
    </div>
</div>










{% unless page.video_IDs == nil %}
{% for video in page.video_IDs %}
  <section class="sectionspacing-small marginbottom-none">
    <div class="video">
      <iframe src="https://player.vimeo.com/video/{{video.id}}?color=5F11E8&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </section>
  {{ video.text | markdownify }}
{% endfor %}
{% endunless %}
