---
layout: case
---

<section class="section sectionspacing-small">
  {{ page.section1 | markdownify }}
</section>

<section class="section sectionspacing-small">
  <img
    class="image"
    sizes="100vw"
    srcset="
      /assets/work/crusner/main_views_q3kdud_c_scale,w_320.jpg 320w,
      /assets/work/crusner/main_views_q3kdud_c_scale,w_860.jpg 860w,
      /assets/work/crusner/main_views_q3kdud_c_scale,w_1259.jpg 1259w,
      /assets/work/crusner/main_views_q3kdud_c_scale,w_1649.jpg 1649w,
      /assets/work/crusner/main_views_q3kdud_c_scale,w_1993.jpg 1993w,
      /assets/work/crusner/main_views_q3kdud_c_scale,w_2371.jpg 2371w,
      /assets/work/crusner/main_views_q3kdud_c_scale,w_2640.jpg 2640w"
    src="/assets/work/crusner/main_views_q3kdud_c_scale,w_2640.jpg"
    alt="Screenshots from the Rätt app"> 
</section>

<section class="grid grid--space grid--padding sectionspacing-small">
  <div class="grid__column1-2 center-vertical">
    <img src="/assets/work/crusner/process.jpg" alt="Process" width="1290" height="1004" class="image">
  </div>
  <div class="grid__column2-2">
    {{ page.section2 | markdownify }}
  </div>
</section>


<section class="section sectionspacing-small">
  {{ page.section3 | markdownify }}
</section>


<section class="section sectionspacing-small">
  <img
    class="image"
    sizes="100vw"
    srcset="
      /assets/work/crusner/form_kscqcp_c_scale,w_320.jpg 320w,
      /assets/work/crusner/form_kscqcp_c_scale,w_941.jpg 941w,
      /assets/work/crusner/form_kscqcp_c_scale,w_1481.jpg 1481w,
      /assets/work/crusner/form_kscqcp_c_scale,w_1962.jpg 1962w,
      /assets/work/crusner/form_kscqcp_c_scale,w_2640.jpg 2640w"
    src="/assets/work/crusner/form_kscqcp_c_scale,w_2640.jpg"
    alt="From">
</section>

<section class="section sectionspacing-small">
  {{ page.section4 | markdownify }}
</section>

<section class="imagegrid">
  <div class="imagegrid__image imagegrid__image--two">
    <img
      src="/assets/work/crusner/call_1.jpg" 
      alt="A client holds a smartphone with the Rätt app and having a video call with a lawyer"
      class="image">
  </div>
  <div class="imagegrid__image imagegrid__image--two">
    <img
      src="/assets/work/crusner/call_2.jpg"
      alt="A lawyer with a desktop version of the Rätt app having a video call with the client"
      class="image">
  </div>
</section>

<section class="section sectionspacing-small">
  {{ page.section5 | markdownify }}
</section>

<section class="grid grid--space grid--padding sectionspacing-small">
  <div class="grid__column1-2 center-vertical">
    <img src="/assets/work/crusner/ratt_logo.jpg" alt="Rätt Logo" width="1290" height="1004" class="image">
  </div>
  <div class="grid__column2-2">
    {{ page.section6 | markdownify }}
  </div>
</section>

<section class="section sectionspacing-small">
  {{ page.section7 | markdownify }}
</section>

<section class="imagegrid">
  <div class="imagegrid__image imagegrid__image--two">
    <img
      src="/assets/work/crusner/illustrations.jpg" 
      alt="Grid with custom illustration for Rätt"
      class="image">
  </div>
  <div class="imagegrid__image imagegrid__image--two">
    <img
      src="/assets/work/crusner/icons.jpg"
      alt="Grid with custom icons made for Rätt"
      class="image">
  </div>
</section>

<section class="section sectionspacing-small">
  {{ page.section8 | markdownify }}
</section>