---
layout: default
excerpt: Whatever we do, we do it fully
title: Creative Studio and Production House

herofile: "fully-hero.html"
cssfile: ""
newsflash: |
   ### Come work with us!

   We're on the lookout for a Digital Producer to join our team in Gothenburg.
newsflash_buttontext: Apply now
newsflash_buttonurl: "/open-positions"
#jsfile: "fully-hero.js"
---
  
{%- comment -%}
<div class="alert">
  <div class="alert__wrap">
    <h4>Alert header!</h4>
    <p>Lorem ipsum some alert info:
      <a href="/url-lorem" class="link link--next link--invert"><span>Read more</span><svg class="link--icon"><use xlink:href="#icon-arrow-right"></use></svg></a>
    </p>
  </div>
</div>
{%- endcomment -%}
<div class="navigation__wrapper">
  <nav class="navigation" id="startmenu">
    {% include menu.html %}
    {% unless site.herofile == nil %}
        {% include news/{{ site.herofile }} newsflash="visible" menu="false" %}
    {% endunless %}
  </nav>
</div>

{% include cc.html %}

{% include case-highlight.html %}

{% include about-us.html %}

{% include logowall.html %}

<section class="box box--people box--right box--center c-people center sectionspacing-small">
    <h2>Quick contact</h2>
    <p class="h4">Ask a question, or tell us something.</p>
    <a href="mailto:{{ site.email }}" class="button"><span>Send us an email</span></a>
</section>
